.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.input {
  margin-right: 1rem;
}

.saveAddressContainer {
  display: flex;
  align-items: center;
}

.tooltip {
  margin-left: 0.2rem;
}

.autocompleteOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autocompleteOptionText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocompleteOptionDelete:hover {
  stroke: #e00;
}

@media (max-width: 650px) {
  .form {
    flex-direction: column;
  }

  .input {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .saveAddressContainer {
    margin-top: 1rem;
  }
}
