.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.autocompleteContainer {
  margin-right: 1rem;
  flex-grow: 1;
}

.saveAddressContainer {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.tooltip {
  margin-left: 0.2rem;
}

.autocompleteOptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.autocompleteOptionText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocompleteOptionDelete {
  text-align: right;
  flex-shrink: 0;
}

.autocompleteOptionDelete:hover {
  stroke: #e00;
}

.toggleAutorefrechContainer > div > div {
  display: flex;
  align-items: center;
}

.fetchButtonContainer {
  margin-right: 1rem;
}

.autoRefreshText {
  display: flex;
  align-items: baseline;
  margin-left: 0.2rem;
}

@media (max-width: 650px) {
  .form {
    flex-direction: column;
  }

  .autocompleteContainer {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .fetchButtonContainer {
    margin-right: 0;
  }

  .saveAddressContainer {
    margin-right: 0;
    margin-top: 1rem;
  }

  .errorText {
    text-align: center;
  }

  .toggleAutorefrechContainer {
    margin-top: 1rem;
  }
}
